.motto_container
{
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-rows: auto auto;
}

#motto_back_home
{
    grid-row: 1/2;
    grid-column: 1 / 2;
    text-align: center;
}

#is_this_it
{
    grid-row: 1/2;
    grid-column: 2 / 3;
    border-bottom: 1px solid;
    font-family: 'YoungSerif';
}

#motto_text_container
{
    grid-row: 2 / 3;
    grid-column: 2 / 3;
}


@media (max-width: 40rem)
{
    .motto_container
    {
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        padding-left: 5%;
        padding-right: 5%;
    }

    .motto_container > *
    {
        grid-column: 1 / -1 !important;
        grid-row: auto !important;
    }
}

#motto_credits
{
    font-family: 'MPlus1';
}

#font_credits
{
    font-family: 'MPlus1';
}