.mreg_container {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: 1fr 2fr 2fr auto 2fr;
}

#TwoThousandTwentyThree {
    grid-row: 1 / 2;
    grid-column: 3 / 7;
}

.mreg_back_home {
    grid-row: 1 / 2;
    grid-column: 1 / 3;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.mreg_intro {
    grid-row: 2 / 3;
    grid-column: 2 / 8;
    margin-top: 2em;

    box-shadow: 
        0 0 0 2px var(--light_letters),
        0.3em 0.3em 1em;
    
    margin-bottom: 30px;
}

#mreg_paragraphs {
    text-align: center;
}

.mreg_search {
    grid-row: 3 / 4;
    grid-column: 1 / 9;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    place-items: center;
    margin-bottom: 30px;
}

.mreg_search #nameFilterDiv {
    grid-row: 1 / 2;
    grid-column: 1 / 2;
}

.mreg_search #artistFilterDiv {
    grid-row: 1 / 2;
    grid-column: 2 / 3;
}

.mreg_search #weekFilterDiv {
    grid-row: 1 / 2;
    grid-column: 3 / 4;
}

.mreg_search #dayFilterDiv {
    grid-row: 1 / 2;
    grid-column: 4 / 5;
}

.mreg_search #monthFilterDiv {
    grid-row: 2 / 3;
    grid-column: 1 / 2;
}

.mreg_search #yearFilterDiv {
    grid-row: 2 / 3;
    grid-column: 2 / 3;
}

.mreg_search #albumNumberDiv {
    grid-row: 2 / 3;
    grid-column: 3 / 4;
}

.mreg_search #releaseFilterDiv {
    grid-row: 2 / 3;
    grid-column: 4 / 5;
}

.mreg_search_labels {
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.mreg_search input {
    width: 100%;
}

.mreg_search_fields {
    margin: 5px;
    border-width: 50px solid;

}

.album_table {
    grid-row: 4 / 5;
    grid-column: 2 / 8;
    table-layout: fixed;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}


#albumsTable tbody {
    overflow: hidden;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    
}


#amnt {
    grid-row: 5 / 6;
    grid-column: 1 / 9;
    text-align: center;
}
