#main_title {
    text-align: center;
}

.index_div {
    border: 5px outset crimson;
    background-color: beige;
    text-align: center;
    padding: 8px 12px;
}

#index_links {
    font-size: 24px;
    font-weight: 800;
}

table, th, td {
    text-align: center;
    border: 1px solid;
    margin: 0px auto;
}